{
	"extends": [
		"nw-react-app",
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"env": {
		"browser": true,
		"es2021": true,
		"node": true
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": "latest"
	},
	"plugins": [
		"react"
	],
	"rules": {
		"indent": [
			"warn",
			"tab"
		],
		"linebreak-style": [
			"error",
			"unix"
		],
		"quotes": [
			"error",
			"single"
		],
		"semi": [
			"warn",
			"always"
		],
		"no-trailing-spaces": [
			"warn"
		],
		"no-use-before-define": "off",
		"@typescript-eslint/no-use-before-define": [
			"error"
		],
		"no-unused-vars": [
			"warn"
		],
		"no-debugger": [
			"warn"
		],
		"no-console": [
			"warn"
		]
	}
}